<div class="day11">
  <div class="part part_one" style="width:300px" >
    <img src="data:image/bmp;base64,<%= @room_b64 %>" />
    <p><strong>round</strong> <%= @round %></p>
    <p><strong>occupied</strong> <%= @occupied %></p>
  </div>

  <div class="part part_two" style="width:300px" >
    <img src="data:image/bmp;base64,<%= @room2_b64 %>" />
    <p><strong>round</strong> <%= @round2 %></p>
    <p><strong>occupied</strong> <%= @occupied2 %></p>
  </div>
</div>
