<section class="phx-hero">
  <h1>Advent of Code</h1>
  <p>A December tradition</p>
</section>

<section class="days">
  <ul>
    <li><a href="/days/1">1</a></li>
    <li><a href="/days/2">2</a></li>
  </ul>
</section>
