<section class="phx-hero">
  <h1>Advent of Code</h1>
  <p>A December tradition</p>
</section>

<ul class="year-selection">
  <li :for={year <- @years} class={if @selected_year == year, do: "active"}>
    <.link patch={~p"/#{year}"}><%= year %></.link>
  </li>
</ul>

<section class={"days year-#{@selected_year}"}>
  <ul>
    <li :for={day <- 1..25}>
      <.link patch={~p"/#{@selected_year}/#{day}"}><%= day %></.link>
    </li>
  </ul>
</section>
