<section class="phx-hero">
  <h1>Advent of Code 2020</h1>
  <p>A December tradition</p>
</section>

<section class="days">
  <ul>
    <%= for day <- 1..25 do %>
      <li><%= live_redirect "#{day}", to: Routes.day_path(@socket, :index, 2020, day) %></li>
    <% end %>
  </ul>
</section>
